body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background: linear-gradient(to right, #620202, #144414);
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 12px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

ul li a {
    text-decoration: none;
    color: #f8f9fa;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: 0.8s all linear;
    padding: 5px 10px;
}

ul li a:hover {
    color: #bf0808;
}

.hero {
    background: url('/img/bannerSanta.png') no-repeat center/cover;
    height: 80vh;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px #000;
}

.cta-btn {
    background-color: #ff5733;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.cta-btn:hover {
    background-color: #27591b;
}

.linkButton {
    font-size: 1.2rem;
    font-family: arial;
    font-weight: bold;
    color: #f8f9fa;
    text-shadow: 2px 2px #000;
    text-decoration: none;
}

.products {
    padding: 2rem;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.product-card {
    background: white;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}